:root {
	--color-border-primary: #9e9e9e;
	--color-font-deep: #fff;
	--color-bg-base: #fff;
	--color-bg-em: #ededed;
	--color-bg-deep: #333;
	--color-shadow: rgba(0, 0, 0, 0.2);
	--color-link-hover-bg: #e9e9e9;

	--font-family-base: 'Minna Gothic', sans-serif;
	--font-family-condensed: 'UD Kakugo C80', sans-serif;

	--section-padding: 4rem;
	--section-border-width: 30px;
	--section-border-image: url('/img/border.png') 30 fill;
	--section-padding-with-border: calc(var(--section-padding) - var(--section-border-width));

	scroll-behavior: smooth;
	scroll-padding-top: var(--section-padding);
}

@media (prefers-reduced-motion) {
	:root {
		scroll-behavior: unset;
	}
}

@media (max-width: 60rem) {
	:root {
		--section-padding: 2rem;
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family-base);
	font-weight: 300;
	color: #333;
}
